# API Keys and Secrets
.env
*.env.local

# Python Dependencies & Virtual Envs
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Node Dependencies
node_modules/
dist/
build/

# Android Build Artifacts
builds/
*.apk
.gradle/
local.properties

# OS specific files
.DS_Store
Thumbs.db
